.cardContainer {
  height: auto;
  /* width: 100%; */
  margin: auto;
  /* background-color: aquamarine; */
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  gap: 20px;
}

.cardItem {
  border-radius: 10px;
  /* height: 400px;
  width: 400px; */
  /* background-color: antiquewhite; */
}

.cardimg {
  height: 450px;
  width: 450px;
  border-radius: var(--borderRadius);
  object-fit: cover;
}

.cardText {
  background-color: black;
  height: 450px;
  width: 300px;
  color: var(--basic);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  justify-content: space-between;
  line-height: 30px;
}

.cardTextop {
  padding-top: 50px;
}

.cardTextbottom {
  padding-bottom: 50px;
}

.cardContainer-bottom {
  height: 300px;
  /* background-color: aquamarine; */
  width: 80%;
  margin: auto;
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.bottom-left {
  width: 40%;
  height: 250px;
  margin: auto;
  color: var(--blue);
  font-size: 14px;
}

.bottom-right {
  width: 40%;
  height: 250px;
  margin: auto;
  color: var(--text);
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }

  .cardimg {
    height: 300px;
    width: 100%;
    border-radius: 10px;
  }

  .cardText {
    height: auto;
    width: 100%;
  }

  .cardContainer-bottom {
    flex-direction: column;
    align-items: center;
  }

  .bottom-left,
  .bottom-right {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }
}

.list {
  margin: 10px;
  display: flex;
  /* background: red; */
  padding-top: 20px;
  line-height: 30px;
  justify-content: space-around;

  font-size: 12px;
}

.list div {
  height: 40px;
  width: 200px;
  /* background-color: blue; */
}

.icon-check {
  color: var(--blue);
}
