body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: sans-serif, "Poppins", sans-serif;
}
:root {
  --basic: #ffffff;
  --text: #000216;
  --blue: rgb(68, 127, 242);
  --borderRadius: 10px;
  --smallFont: 13px;
  --font: 30px;
  --buttonRadius: 30px;
}
